src
e2e
node_modules

module
!module/app/swangular-components
!module/index*

.angular-cli.json
.editorconfig
.gitignore
.npmignore
karma.conf.js
protractor.conf.js
tsconfig.json
tslint.json
favicon.ico
